{% extends "blog/base.html" %}
{% block content %}
<div class="right-side-bar">
    <h1 style="position: relative;font-family:'Charter', sans-serif;font-weight:600;color:white;font-size:22px;">Product's Mission</h1>
    <div id="navigation">
        <ul>
            <li class="itemer"><a href="#section1" style="padding: 10px;">Ads</a></li>
            <li class="itemer"><a href="#section2" style="padding: 10px;">Posts</a></li>
            <li class="itemer"><a href="#section3" style="padding: 10px;">Marketplace</a></li>
            <li class="itemer"><a href="#section4" style="padding: 10px;">Users</a></li>
            <li class="itemer"><a href="#section5" style="padding: 10px;">Helpful, Respectful, & Safe</a></li>
            <li class="itemer"><a href="#section6" style="padding: 10px;">Material</a></li>
            <li class="itemer"><a href="#section7" style="padding: 10px;">Developers</a></li>
            <li class="itemer"><a href="#section8" style="padding: 10px;">Businesses & Investors</a></li>
        </ul>
    </div>
</div>
<img style="width: 50%;padding-bottom:50px;position:relative;margin: 0 auto;display:block;" src="../static/blog/reading.png">
    <h1 style="position: relative;margin-left:25px;font-family: 'Kievit Serif', sans-serif;font-size: 42px;color:white;padding-bottom: 25px;">Product's Mission</h1>
    <div class="smushimages" style="text-align: left;margin-left: 25px;margin-top:-25px;">
            <img class="curated-image-over-1" style="width:30px;height:30px;" src="../media/productIcon.png">
            <img class="curated-image-over-1" style="width:30px;height:30px;" src="../media/default.jpg">
            <span tooltip="Edited last by vlad" flow="up3"><p style="display: inline;position: relative;font-size:13px;padding-left:35px;padding-right:35px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight:700;color:rgb(0, 115, 255);">2 contributors</p></span>
    </div>
        <h2 class="blogs">Product was created to change how the world reads. From articles on the truth behind scandals to life lessons about living in big cities, Product is here forever to give you a non-bias, spam-free experience, free of charge.<br />
        <b>Because all information must be free.</b><br /><br />
    <span style="font-size:22px;font-weight: 700;" class="section" id="section1">Ads</span><br />
    Product is an ad-first company, catering towards local businesses, talented firms and agencies, and getting solo practitioners off the ground. We are unlike any business out there. This is 2020, a future with no more censorship from advertising your brand, your idea, your personality, or your beliefs.<br /><br />
    Optionally let users donate and support your business so that you can keep pushing ads and strategies to the platform.<br /><br />
    Product Ads also supports the advertisement of accounts, explicitly. You can add an <i>Ad</i> symbol to your account and have increased user ranking in all user searches.<br /><br />
    Ads on Product are special because of how we target users. We don't believe in user and behavioral targeting. These types of ads haven't done well for the reputation of big businesses and Product's mission has never been to let ads swarm a user's screen with what they just looked at, online.<br /><br />
    <span style="font-size:22px;font-weight: 700;" class="section" id="section2">Posts</span><br />
    We continue to function because of our users and their large imagination. By sharing something you care about, you are contributing to an ever-expanding forum of data and expertise. Give yourself a break from the madness of the internet. From fake news and fake stories, from censorship and rough guidelines, read on.<br /><br />
    Product offers the ability to post your status, articles, and special events. You can upload images, key topics, goals, and in the future, polls, videos, and external apps.<br /><br />
    We offer free news and account-free access. View things that are trending and have relevance. Stop wasting time with expensive aggregated software like Apple News.<br /><br />
    <span style="font-size:22px;font-weight: 700;" class="section" id="section3">Marketplace</span><br />
    Product is proud to offer a large marketplace of items. Either publish your own or view trending objects. We sort by bulk orders and rare collections. Stop wasting your time sorting through Promoted product posts on Amazon or Instagram.<br /><br />
    <span style="font-size:22px;font-weight: 700;" class="section" id="section4">Users</span><br />
    Celebrities and personalities have always been an important part of social media. We created the ability for users to see other accounts. Search the query for people you want to see, as well as people you want to read stuff from.<br /><br />
    Following and messaging functionality is coming soon.<br /><br />
    <span style="font-size:22px;font-weight: 700;" class="section" id="section5">Helpful, respectful, and safe</span><br />
    Here at Product, there is nothing we care about more than the safety and well-being of our users. Whenever posting or sharing any thought, make sure to follow our list of policies to maintain an internet presence. We won't blacklist you without a known reason.<br /><br />
    <b>1. Post the sole and organic truth, without bias or pessimistic opinions.</b><br />
    When posting, make sure to post only what you think the internet does not know. Don't be DRY (Don't Repeat Yourself). Keep tough opinions out of the water, as swaying the crowd to extremes is never the goal, here at Product. Try to stop using other people's content as a means of expressing yourself. Linking to explicit sites is not allowed, either, as it threatens the health of users and the reputation of advertisers.<br />
    <b>2. Keep out harsh language and threats.</b><br />
    Fights are simply opinion battles. Keep these to a low and continue to express the fact without harm. Try not to send violent messages or threats to readers or writers! This will result in an instant IP ban.<br />
    <b>3. Don't spam.</b><br />
    Do you know those funny or strange posts on YouTube with no real meaning? Those were made to wreck channels and ruin the algorithm. Be helpful, never spam. As spamming may seem very general, we consider spamming anything 1) repetitive, a 2) copy, 3) complete gibberish, and 4) scammy or looking for attention.<br />
    <br />
    <span style="font-size:22px;font-weight: 700;" class="section" id="section6">Material</span><br />
    When writing posts on Product, make sure to cite sources and write key points in your post. Since our site is centered around the inverted pyramid writing style or something similar, please make sure to educate readers as shortly and concisely as possible.<br /><br />
    We wish you all a great time on Product. We hope that you get something out of it while you're here.<br /><br />
    <span style="font-size:22px;font-weight: 700;" class="section" id="section7">Developers</span><br />
    Want to create something amazing? We have something for you as well. Please read our Docs to get started.<br /><br />
    <span style="font-size:22px;font-weight: 700;" class="section" id="section8">Businesses & Investors</span><br />
    Have a custom model for representation? Contact our business and investor relations team here.
</h2>


<script>
    // cache the navigation links 
var $navigationLinks = $('#navigation > ul > li > a');
// cache (in reversed order) the sections
var $sections = $($(".section").get().reverse());

// map each section id to their corresponding navigation link
var sectionIdTonavigationLink = {};
$sections.each(function() {
    var id = $(this).attr('id');
    sectionIdTonavigationLink[id] = $('#navigation > ul > li > a[href=\\#' + id + ']');
});

// throttle function, enforces a minimum time interval
function throttle(fn, interval) {
    var lastCall, timeoutId;
    return function () {
        var now = new Date().getTime();
        if (lastCall && now < (lastCall + interval) ) {
            // if we are inside the interval we wait
            clearTimeout(timeoutId);
            timeoutId = setTimeout(function () {
                lastCall = now;
                fn.call();
            }, interval - (now - lastCall) );
        } else {
            // otherwise, we directly call the function 
            lastCall = now;
            fn.call();
        }
    };
}

function highlightNavigation() {
    // get the current vertical position of the scroll bar
    var scrollPosition = $(window).scrollTop();

    // iterate the sections
    $sections.each(function() {
        var currentSection = $(this);
        // get the position of the section
        var sectionTop = currentSection.offset().top;

        // if the user has scrolled over the top of the section  
        if (scrollPosition >= sectionTop) {
            // get the section id
            var id = currentSection.attr('id');
            // get the corresponding navigation link
            var $navigationLink = sectionIdTonavigationLink[id];
            // if the link is not active
            if (!$navigationLink.hasClass('active')) {
                // remove .active class from all the links
                $navigationLinks.removeClass('active');
                // add .active class to the current link
                $navigationLink.addClass('active');
            }
            // we have found our section, so we return false to exit the each loop
            return false;
        }
    });
}

$(window).scroll( throttle(highlightNavigation,100) );
</script>


{% endblock content %}