{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.profile.verified %}
    <div class="blog-container-write p-3">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><i class="fas fa-pen-square"></i>&nbsp;&nbsp;Publish a <b>block</b> ad.</legend>
                <legend class="legend-b">Gain clients, customers, and cash.</legend>
                <p>We charge on a per-click basis. Every time your ad is clicked on with our site, we charge a category and time-based rate.</p>
                <p style="position: relative;font-weight:400;padding-left:10px;padding-right:0px;font-family:'Open Sans', sans-serif;font-size:16px;color:white;word-wrap:break-word;">Enter ad title:</p>
                {{ form.title }}
                <br />
                <label id="hiddenimgreplace">
                    {{ form.image }}
                    <span class="uploadadtxt">Upload your ad image</span>
                </label>
                <div id="hidden_or_not2" style="display: none;">
                    <div class="cutoff" id="hidden_or_not" style="position:relative;display: none;width:50%;top:50px;margin-bottom: 75px;border: solid 1px white;">
                        <img id="preview" src="#" class="img-market"/>
                    </div>
                    <h1 style="position: relative;padding-left:25px;padding-bottom:25px;font-family: 'Charter', sans-serif;font-size:15px;color:white;font-weight: 600;">Product does not support videos or multiple photos in its alpha.</h1>
                </div>
                <p style="padding-top:15px;position: relative;font-weight:400;padding-left:10px;padding-right:0px;font-family:'Open Sans', sans-serif;font-size:16px;color:white;word-wrap:break-word;">Enter the content to be displayed on body of ad:</p>
                {{ form.content }}
                <p style="padding-top:15px;position: relative;font-weight:400;padding-left:10px;padding-right:0px;font-family:'Open Sans', sans-serif;font-size:16px;color:white;word-wrap:break-word;">Enter your promotion link: <span style="color:#777;">(the link will take your viewers to your page of choice)</span></p>
                {{ form.Add_a_link }}
            </fieldset>
            <div class="form-group">
                <button class="global-btn-2" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <div class="blog-container p-3">
        <h4 style="color:white;font-family:'Philosopher',sans-serif;font-size:32px;font-weight:600;">Make your profile an Ad account.</h4>
        <p style="font-size:17px;">Product will add the Ad icon to your account and your profile will be put at the top of all search results, regardless of the query.<br /><br />
            &nbsp;&nbsp;<i class="fas fa-envelope"></i>&nbsp;&nbsp;vladusatii@gmail.com</p>
    </div>
    <div class="right-side-bar">
        <h1 style="position: relative;font-family: 'Charter Bold', sans-serif;font-size: 24px;color:white;padding-top: 15px;padding-bottom:15px;"><mark style="font-size:18px;color:white;font-weight:900;font-family:sans-serif;background-color:rgb(255, 87, 87);border-radius:5px;">LIVE</mark> Preview</h1>
        <article class="ad-container-2">
            <p style="position: relative;font-family: 'Open Sans', sans-serif;font-size: 14px;color:rgb(181, 181, 181);font-weight: 500;padding-left:20px;">Sponsored <i class="fas fa-external-link-alt"></i>&nbsp;&nbsp;&nbsp;<span style="font-size:13px;color:#888;">Click on post to learn more</span></p>
                <h2 class="id_title" style="position: relative;font-family: 'Open Sans', sans-serif;font-size: 18px;color:rgb(227, 227, 227);font-weight: 300;top: -5px;padding-left:20px;word-break: break-all;padding-right:20px;">Title</h2>
                    <p class="id_content" style="position: relative;font-family: 'Open Sans', sans-serif;font-size: 13px;color:rgb(255, 255, 255);font-weight: 300;top: -5px;padding-left:20px;word-break: break-all;line-height: 22px;padding-right:20px;">Content</p>
        </article>
        {% for ad in ads %}
                {% if forloop.first %}
                <a href="{% url 'ad-detail' ad.id %}" target="_self" style="color: inherit;text-decoration:none;">
                    <article class="ad-container">
                        <p style="position: relative;font-family: 'Open Sans', sans-serif;font-size: 14px;color:rgb(181, 181, 181);font-weight: 500;padding-left:20px;">Sponsored <i class="fas fa-external-link-alt"></i>&nbsp;&nbsp;&nbsp;<span style="font-size:13px;color:#888;">Click on post to learn more</span></p>
                            <h2 style="position: relative;font-family: 'Open Sans', sans-serif;font-size: 18px;color:rgb(227, 227, 227);font-weight: 300;top: -5px;padding-left:20px;">{{ ad.title }}</h2>
                            {% if ad.image %}
                            <div class="contain-ad-image-contain">
                            <div class="contain-ad-image-2">
                                <img style="position:relative;width: 100%;min-height: 100%;" src="{{ ad.image.url }}" alt="{{ ad.name }} image" />
                            </div>
                            </div>
                                <p style="position: relative;padding-top:25px;font-family: 'Open Sans', sans-serif;font-size: 13px;color:rgb(255, 255, 255);font-weight: 300;top: -5px;padding-left:20px;">{{ ad.content }}</p>
                            {% else %}
                                <p style="position: relative;font-family: 'Open Sans', sans-serif;font-size: 13px;color:rgb(255, 255, 255);font-weight: 300;top: -5px;padding-left:20px;">{{ ad.content }}</p>
                            {% endif %}
                    </article>
                </a>
            {% endif %}
        {% endfor %}
    </div>

    <script>
        // Update ad title every time
        $('#id_title').keyup(function(){
            var $this = $(this);
            $('.'+$this.attr('id')+'').html($this.val());
        });
        // Update ad description every time
        $('#id_content').keyup(function(){
            var $this = $(this);
            $('.'+$this.attr('id')+'').html($this.val());
        });


        function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
            $('#preview').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]); // convert to base64 string
            $("#hidden_or_not").fadeToggle();
            $("#hidden_or_not2").fadeToggle();
            $('#hiddenimgreplace').css("display", "none");
        } else {
            $("#hidden_or_not").fadeToggle();
        }
        }

        $("#id_image").change(function() {
            readURL(this);
        });
    </script>
    {% else %}
    <h1 style="font-family: 'Kievit Serif', sans-serif;font-size:42px;color:white;font-weight:300;">Oops!</h1>
    <p style="font-family: 'Charter', sans-serif;font-size:24px;color:#999;line-height: 28px;">You must verify your account with the Product team in order to access this page.</p>
    <br />
    <p style="font-family: 'Charter', sans-serif;font-size:17px;color:white;">Choose between these two emails to request verification:<br />&nbsp;&nbsp;<i class="fas fa-envelope"></i>&nbsp;&nbsp;vladusatii@gmail.com<br />&nbsp;&nbsp;<i class="fas fa-envelope"></i>&nbsp;&nbsp;productsocial@gmail.com<br /></p>
    <div style="border-left: solid 3px #444;"><small style="margin: 10px;font-family:'Open Sans', sans-serif;font-size:14px;color:#999;display:block">Upon entering the required details and sending a request via email, wait up to 3 business days for a response. The team will email you back with next steps.</small></div>
    <br />
    <p style="font-family: 'Charter', sans-serif;font-size:17px;color:white;"><span style="line-height: 50px;">Or read the docs to learn more:</span>&nbsp;&nbsp;&nbsp;<a href="{% url 'blog-docs' %}" style="color: inherit;text-decoration:none;"><button class="global-btn" style="float:none;margin: 0px;display: inline !important;">Documentation</button></a></p>
    {% endif %}
{% endblock content %}