{% extends "blog/base.html" %}
{% block content %}
<img style="width: 100%;position:relative;margin: 0 auto;display:block;margin-bottom: 10px;margin-top:10px;" src="https://blog.mapillary.com/img/2018-01-11-mvd.jpg">
<a href="https://blog.mapillary.com/img/2018-01-11-mvd.jpg"><div class="organize-comments" style="font-family: BlinkMacSystemFont, sans-serif;">
    <p style="font-size:16px;"><b>See image source</b></p>
</div></a>
<h1 style="position: relative;font-family: 'Charter Bold', sans-serif;font-size: 54px;color:white;">The future of self-driving is here.</h1>
<h1 style="position: relative;font-family: 'Charter', sans-serif; font-size: 28px;color:white;">Product's future open-source software will allow cars to drive themselves.</h1>
    <div class="buttons-globals">
        <a style="text-decoration:none;color:inherit;" href="/"><button class="global-btn-3">Read our advancements</button></a>
        <a style="text-decoration:none;color:inherit;" href="https://www.github.com/VladUsatii/autodriver"><button class="global-btn-3">GitHub</button></a>
    </div>
<h2 style="position: relative;margin-top:75px;font-family: 'Charter Bold', sans-serif;font-size: 32px;color:white;">Stay focused on the road.</h2>
<h1 style="position: relative;font-family: 'Charter', sans-serif; font-size: 22px;color:white;">In the beginning stages of <a class="a" href="https://en.wikipedia.org/wiki/Vehicular_automation#Autonomy_levels">level 2 autonomy</a>, drivers must keep their eyes on the road at all times. Your car will do everything on its own, but may make mistakes.</h1>


{% endblock content %}