{% extends "blog/base-ads.html" %}
{% block content %}
<div class="disappearonmobile">
    <div class="contain-ads-home">
        <h1 class="center-h1-in-div">Market to an engaged audience.</h1>
        <h2 class="center-h2-in-div">Choose from different methods of advertisement and monitor<br />with comprehensive analytics.</h2>
            <img class="ads-image1" src="../static/blog/ads-image1.png">
    </div>
    
    <div class="contain-ads-why">
        <h1 style="position: relative;text-align: left;padding-left: 25px;padding-right: 25px;font-family: 'Open Sans', sans-serif;font-size:32px;color:white;font-weight: 900;padding-top: 100px;padding-bottom: 25px;">Why advertise with Product?</h1>
        <div class="box-contain-ads-why">
            <h1 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:22px;color:white;display: block;">Reach knowledgeable individuals.</h1>
            <h2 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:16px;color:#ddd;display: block;line-height: 22px;">Product was made for readers. We don't like to be stereotypical, here at Product, but readers are usually eager to learn and see more. They aren't difficult to entertain and are open to new ideas from anywhere. Our site will push content to readers and give high-paying clients a chance to reach their exact category.</h2>
        </div>
        <div class="box-contain-ads-why">
            <h1 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:22px;color:white;display: block;">Directly influence buyer opinions.</h1>
            <h2 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:16px;color:#ddd;display: block;line-height: 22px;">Users are on our site to look for recommendations, for opinions, and for straight facts. They aren't looking for disappointing products, hence their searches and views on verified reviewer articles. Influence potential buyers directly with your product. Reach users who want the truth.</h2>
        </div>
        <div class="box-contain-ads-why">
            <h1 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:22px;color:white;display: block;">Advertise in a safe and non-bias news space.</h1>
            <h2 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:16px;color:#ddd;display: block;line-height: 22px;">We push the truth. Nothing but the truth. Advertise on a platform that enforces zero spam, has no scandals, and blocks suggestive content ASAP.</h2>
        </div>
        <div class="box-contain-ads-why">
            <h1 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:22px;color:white;display: block;">Show up on a large and influenced userbase.</h1>
            <h2 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:16px;color:#ddd;display: block;line-height: 22px;">Yes, Product is new, and it has both space and time to grow. With an expanding userbase in the social media market, you can expect a large range of ethnicities, sexes, age groups, and nationalities to view your business's posts. Advertise for the world and showcase a winning product.</h2>
        </div>
    </div>
    <br />
    <div class="contain-ads-why">
        <h1 style="position: relative;text-align: left;padding-left: 25px;padding-right: 25px;font-family: 'Philosopher', sans-serif;font-size:48px;color:white;font-weight: 500;padding-top: 100px;">Make the perfect <b style="font-family: 'Philosopher', sans-serif;font-weight: 900;">Product.</b></h1>
        <h2 style="position: relative;text-align: left;padding-left: 25px;padding-right: 25px;font-family: 'Philosopher', sans-serif;font-size:26px;color:white;font-weight: 300;padding-bottom: 25px;">Let's stop making ads difficult. Follow these steps to publish your first ad.</h2>
            <div class="follow-steps">
                <h1 class="follow-steps-list">1. Choose method of advertising:</h1>
                <div class="follow-steps-tab">
                    <h1 class="follow-steps-tab-list">User Advertising<br />Post Advertising<br />Banner Advertising<br />Video Advertising<br />Enterprise Reach Solutions</h1>
                </div>
            </div>
            <div class="follow-steps-2">
                <h1 class="follow-steps-list">2. Choose reach:</h1>
                <div class="follow-steps-tab">
                    <h1 class="follow-steps-tab-list">Newbie (200 - 400 views per day) - $10 per day<br />Rookie (1,000 - 2,000 views per day) - $50 per day<br />Skilled (10,000 - 40,000 views per day) - $350 per day<br />Novice (100,000 - 500,000 views per day) - $550 per day<br />Advanced (1M - 2M views per day) - $7,500 per day <sup>Only available at certain times</sup><br />Enterprise - Contact us for custom offers <sup>Revenue must be $10,000+ per month</sup></h1>
                </div>
            </div>
            <div class="follow-steps">
                <h1 class="follow-steps-list">3. Choose audience:</h1>
                <div class="follow-steps-tab">
                    <h1 class="follow-steps-tab-list">Tech enthusiasts<br />Music enthusiasts<br />Travel enthusiasts<br />Gamers<br /><i>Get a custom audience</i></h1>
                </div>
            </div>
            <div class="follow-steps">
                <h1 class="follow-steps-list">4. Wait. And ask <a class="a-location" href="{% url 'blog-home' %}">questions</a>, of course.</h1>
            </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>
<div class="appearonmobile">
    <div style="position: relative;max-width: 500px;width:100%;background-color: transparent;padding-left: 25px;padding-right:25px;margin: 0 auto;display: block;margin-bottom: 100px;">
        <h1 style="position: relative;font-family: 'Philosopher', sans-serif;font-size:38px;color:white;font-weight: 900;">Ads for the future.</h1>
        <h1 style="position: relative;font-family: 'Open Sans', sans-serif;font-size:26px;color:rgb(210, 210, 210);font-weight: 500;line-height:38px;">Expand your reach and gain new clients. With a platform that caters to your every need.</h1>
        <div style="height: 50px;"></div>
        <a href="#" style="color:inherit;cursor:pointer;text-decoration:none;">
        <div class="blog-container-ads" id="blog-container">
            <p style="position: relative;font-family: 'Open Sans', sans-serif;font-size: 14px;color:rgb(181, 181, 181);font-weight: 500;padding-left:25px;margin-top: 5px;margin-bottom: -20px;">Sponsored <i class="fas fa-external-link-alt"></i>&nbsp;&nbsp;&nbsp;<span style="font-size:13px;color:#888;">Click on post to learn more</span></p>
            <img class="author" src="../media/productIcon.png">
            <span class="author-title">Product Ads.&nbsp;&nbsp;<i class="fas fa-check-circle" style="color:#777;"></i></span>     
            <div class="blogs-title-close"><h2><span class="blogs-title">Reach readers all over the world.</span></h2></div>
            <p class="blogs">An advertising site that cares. Try Product today and grow an audience with relevance.</p>
        </div>
        </a>
        <div style="margin: 0 auto;display:block;position:relative;text-align:center;">
            <a href="{% url 'blog-pricing' %}" style="text-decoration:none;color:inherit;"><button class="create-listing-btn mt-5">See plans</button></a>
            <a href="{% url 'blog-docs' %}" style="text-decoration:none;color:inherit;"><button class="create-listing-btn mt-5" style="background-color:#2c2c2c;">Read our Docs</button></a>
        </div>
        <div style="height: 75px;"></div>
        <h1 style="position: relative;font-family: 'Philosopher', sans-serif;font-size:28px;color:white;font-weight: 900;">What's new at Ads?</h1>
        <h1 style="position: relative;font-family: 'Open Sans', sans-serif;font-size:16px;color:rgb(210, 210, 210);font-weight: 500;line-height:26px;">Launch to the top of user search results with our revolutionary Account as an Ad (AaaA) option.</h1>
        <div class="search-results" style="display: block;top:35px;">
            <p style="font-family: 'Open Sans', sans-serif;font-size: 14px;padding: 5px;padding-bottom:10px;color: white;margin-bottom: 0px;font-weight: 700;">Search users&nbsp;&nbsp;<i class="fas fa-mouse"></i>&nbsp;&nbsp;&nbsp;<i style="color:#292929;font-size:16px;vertical-align: middle;font-weight: 500;">Users containing your query.</i></p>
                <a class="a-search">
                    <p style="font-size: 16px;color: white;margin-bottom: 0px;font-family: 'Open Sans', sans-serif;"><b style="font-family: 'Open Sans', sans-serif;font-weight: 700;color:rgb(79, 79, 79);">Ad</b>&nbsp;&nbsp;&nbsp;Product</p>
                </a>
                <a class="a-search">
                    <p style="font-family: 'Open Sans', sans-serif;font-size: 16px;color: white;margin-bottom: 0px;">product.team</p>
                </a>
                <a class="a-search">
                    <p style="font-family: 'Open Sans', sans-serif;font-size: 16px;color: white;margin-bottom: 0px;">vlad</p>
                </a>
                <a class="a-search">
                    <p style="font-family: 'Open Sans', sans-serif;font-size: 16px;color: white;margin-bottom: 0px;">newatproduct</p>
                </a>
        </div>
        <div style="height: 75px;"></div>

        <h1 style="position: relative;font-family: 'Philosopher', sans-serif;font-size:28px;color:white;font-weight: 900;margin-bottom: 25px;">Why advertise with Product?</h1>
        <div class="box-contain-ads-why" style="max-width: 450px;width:100%;border-radius: 8px;background-color:#1c1c1c;">
            <h1 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:22px;color:white;display: block;">Reach knowledgeable individuals.</h1>
            <h2 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:16px;color:#ddd;display: block;line-height: 22px;">Product was made for readers. We don't like to be stereotypical, here at Product, but readers are usually eager to learn and see more. They aren't difficult to entertain and are open to new ideas from anywhere. Our site will push content to readers and give high-paying clients a chance to reach their exact category.</h2>
        </div>
        <div class="box-contain-ads-why" style="max-width: 450px;width:100%;border-radius: 8px;background-color:#1c1c1c;">
            <h1 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:22px;color:white;display: block;">Directly influence buyer opinions.</h1>
            <h2 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:16px;color:#ddd;display: block;line-height: 22px;">Users are on our site to look for recommendations, for opinions, and for straight facts. They aren't looking for disappointing products, hence their searches and views on verified reviewer articles. Influence potential buyers directly with your product. Reach users who want the truth.</h2>
        </div>
        <div class="box-contain-ads-why" style="max-width: 450px;width:100%;border-radius: 8px;background-color:#1c1c1c;">
            <h1 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:22px;color:white;display: block;">Advertise in a safe and non-bias news space.</h1>
            <h2 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:16px;color:#ddd;display: block;line-height: 22px;">We push the truth. Nothing but the truth. Advertise on a platform that enforces zero spam, has no scandals, and blocks suggestive content ASAP.</h2>
        </div>
        <div class="box-contain-ads-why" style="max-width: 450px;width:100%;border-radius: 8px;background-color:#1c1c1c;">
            <h1 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:22px;color:white;display: block;">Show up on a large and influenced userbase.</h1>
            <h2 style="position: relative;font-family: 'Open Sans', sans-serif;font-weight:200;font-size:16px;color:#ddd;display: block;line-height: 22px;">Yes, Product is new, and it has both space and time to grow. With an expanding userbase in the social media market, you can expect a large range of ethnicities, sexes, age groups, and nationalities to view your business's posts. Advertise for the world and showcase a winning product.</h2>
        </div>




    </div>
</div>
{% endblock content %}


