{% extends "blog/base-ads.html" %}
{% block content %}
<main role="main" class="container-closeup" style="top: 0px;">
    <h1 style="position: relative;margin-left:25px;font-family: 'Kievit Serif', sans-serif;font-size: 50px;color:white;padding-bottom: 25px;">Docs</h1>
    <div class="smushimages" style="text-align: left;margin-left: 25px;margin-top:-25px;">
            <img class="curated-image-over-1" style="width:30px;height:30px;" src="../media/productIcon.png">
            <img class="curated-image-over-1" style="width:30px;height:30px;" src="../media/default.jpg">
            <span tooltip="Edited last by vlad" flow="up3"><p style="display: inline;position: relative;font-size:13px;padding-left:35px;padding-right:35px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight:700;color:rgb(0, 115, 255);">2 contributors</p></span>
    </div>
        <h2 class="blogs">Welcome to Product's Developer and Advertiser Information page, where you can learn more about what Product has to offer for your particular objective. We've carefully structured this page to show off the most important and relevant features first without making anything too confusing or difficult to understand. This documentation assumes you are a complete beginner.<br />
        <b>This documentation assumes you are a complete beginner.</b><br /><br />We've structured the 'Docs' page to showcase Advertisement Instructions first. This is important for any Product customer who wants to publish listings and advertisements to a public audience. Advertising on Product is very simple and requires little to no work before your first post. The team at Product will handle every single transaction, every single post, and every single deal face-to-face, with either a Zoom call or an in-person meeting. Our team wants to see your brand succeed in a local environment, and has structured the Documentation to assume a virtual or in-person meeting for assessment. Partnering with you starts with reading the Documentation.<br /><br />
        Next, we've added the FAQ and installment instructions for our upcoming API and integration software. Product is working on external login credential integration, as well as productivity software and work software (Product Shadow). This documentation should help you get a headstart with our Developer side and includes all instructions for plans.<br /><br />
        <i>Keep in mind that because of the current outbreak of COVID-19, we have restricted meetings to Zoom calls and phone calls only.</i><br /><br />
    <span style="font-size:22px;font-weight: 700;">Advertisement Instructions</span><br />
    Welcome to Ads by Product. Our main goal with Ads is to provide equal representation and targeting that will help your business grow and expand. In Product Alpha 0.01, we only accept local businesses to run and publish ads. <b>North Dakota is the only state we currently operate in for partnerships.</b> To publish an ad or schedule a meeting, please email:<br /><br />
    <ul>
        <li>vladusatii@gmail.com</li>
    </ul>
    <br /><br />
    In this email, we strongly recommend that you explain:<br /><br />
    <li style="list-style-type:circle;font-size:18px;">Your advertisement strategy</li>
        <li style="list-style-type:disc;padding-left:15px;font-size:15px;">This includes explaining what you advertise, how many ad campaigns you may run, and what category you fall under. The categories are as follows:</li>
        <li style="list-style-type:disc;padding-left:30px;font-size:13px;">Local business</li>
        <li style="list-style-type:disc;padding-left:30px;font-size:13px;">Music & Entertainment</li>
        <li style="list-style-type:disc;padding-left:30px;font-size:13px;">Tech</li>
        <li style="list-style-type:disc;padding-left:30px;font-size:13px;">Grocery</li>
        <li style="list-style-type:disc;padding-left:30px;font-size:13px;">Personality</li>
        <li style="list-style-type:disc;padding-left:30px;font-size:13px;">Service</li>
        <li style="list-style-type:disc;padding-left:30px;font-size:13px;">News & Politics</li>
        <li style="list-style-type:disc;padding-left:30px;font-size:13px;">Promotions</li>
        <li style="list-style-type:disc;padding-left:30px;font-size:13px;">Firms and Sole Proprietorships</li>
    <li style="list-style-type:circle;font-size:18px;">Your company information</li>
        <li style="list-style-type:disc;padding-left:15px;font-size:15px;">Please edit and submit the PDF below:</li>
    <li style="list-style-type:circle;font-size:18px;">Contact info</li>
        <li style="list-style-type:disc;padding-left:15px;font-size:15px;">Head of Marketing, Executive, or Lead should leave a phone number or equivalent.</li>
    <li style="list-style-type:circle;font-size:18px;">Why you chose Product</li><br /><br />
    Once you have submitted an email, please wait up to 3 business days for a return call or email.<br /><br />
    Assuming your partnership has been scheduled for discussion, please bring up the following information on a scheduled meeting:<br /><br />
    <li style="list-style-type:circle;font-size:18px;">Duration of ad campaigns</li><br />
    We will explain your category CPM.<br /><br />
    Once approved and verified (you will receive a checkmark symbol on your account page), you will have access to Product's Ad Dashboard.
    </h2>
    <br />
    <div style="position:relative;max-width: 500px;margin: 0 auto;display: block;margin-left:15px;margin-right:15px;">
        <img src="../media/adHelp.png" style="width: 100%;">
    </div>
    <br />
    <h2 class="blogs">On this page, you can create, update, manage, and delete ad listings, as well as see stats on your current ads. Old ads will be permanently deleted in your discretion. They are not temporary removals if you click the 'Delete' button.<br />
    <br />
    This is the entire Ad platform. There is not much to it, and our current ad targeting is general, targeted with your account details.<br /><br />
    <span style="font-size:22px;font-weight: 700;">For Developers</span><br />
    Currently, our API system is not done and ready for public release. This Docs page will be updated once we are ready.</h2>
</main>

<br />
<br />
<br />
<br />


{% endblock content %}