{% extends "blog/base.html" %}
{% block content %}
    <div class="blog-container p-4">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete post?</legend>
                <h2 style="font-family: 'Charter', sans-serif;font-size:22px;">Are you sure you want to delete your listing?</h2>
            </fieldset>
            <div class="form-group">
                <button class="button-delete" type="submit">Yes, delete</button>
                <a class="button-update" href="{% url 'market-detail' object.id %}">No, go back</a>
            </div>
        </form>
    </div>
{% endblock content %}