{% extends "blog/base-ads.html" %}
{% block content %}
<div class="pricingdisappearonmobile">
    <div class="float-container">

        <div class="float-child">
        <div style="margin-top:25%;padding:50px;padding-left:75px;">
            <h1 style="position:relative;font-family:'Philosopher', sans-serif;font-size:58px;color:white;font-weight:600;">Set your ideal budget.</h1>
            <span style="position: relative;font-family: 'Charter', sans-serif;font-size:24px;color:white;font-weight:100;">Select from a precise range of pricing that your marketing team can agree with.</span>
        </div>
        </div>
        
        <div class="float-child">
            <img src="../media/pricingimg.png" class="imgpricingheader" style="width:100%;">
        </div>
        
      </div>
    <small style="position:relative;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight: 500;font-size:18px;color:rgb(37, 124, 255);text-align:center;padding:10px;display: block;">Scroll down</small>
    
    <div class="contain-ads-why" style="box-shadow: 0 0 0 0; background-color:transparent;max-width: 750px;width:100%;">
        <h1 style="position: relative;text-align: left;padding-left: 25px;padding-right: 25px;font-family: 'Philosopher', sans-serif;font-size:32px;color:white;font-weight: 900;padding-top: 100px;">Advertise to a local and diverse audience.</h1>
        <h2 style="position: relative;text-align: left;padding-left:25px;padding-right: 25px;font-family: 'Charter', sans-serif;font-size:22px;color:rgb(191, 191, 191);">Get an assigned category CPM and target ads to people with similar interests. Never feel like your ad is a highway billboard.</h2>
        <br />
        <div class="dashboard-ads float-container" style="height:600px;">
            <div class="float-child">
                <h1 style="position: relative;font-family: 'Charter Bold', sans-serif;font-size:20px;color:white;padding: 10px;">Total clicks</h1>
                <h2 class="result-ad-count">2505</h2>
                        <h2 class="result-ad-count-text">Positive Engagement (4 public ads)</h2>
                <h1 style="position: relative;font-family: 'Charter Bold', sans-serif;font-size:18px;color:rgb(177, 177, 177);padding: 10px;">Total engagement</h1>
                <h2 style="font-family:'Charter Bold',sans-serif;font-size:60px;padding-top:2px;padding-bottom: 2px;color:rgb(227, 227, 227);padding-left:10px;">4142</h2>
                <h1 style="position: relative;font-family: 'Charter Bold', sans-serif;font-size:18px;color:rgb(177, 177, 177);padding: 10px;">Total expenses</h1>
                <h2 style="font-family:'Charter Bold',sans-serif;font-size:60px;padding-top:2px;padding-bottom: 5px;color:rgb(227, 227, 227);padding-left:10px;">$16.04</h2>
                <h2 class="result-ad-count-text"><i class="fas fa-receipt"></i>&nbsp;$6.40 CPM</h2>
            </div>
            <div class="float-child">
                <div class="blog-container p-2">
                    <small style="font-family: BlinkMacSystemFont, 'Open Sans', sans-serif;font-size:16px;color:white;"><b>On the left is our simplistic advertisement manager.</b> The first area discusses, in total, how many clicks your total ad posts have gotten. We run off of a one-category-per-account threshold, so you shouldn't see variation in cost and billing.<br /><br />
                    Next, we show you total engagement, or scroll-by views, sometimes sorted by a threshold of seconds spent looking at the ad, or how many seconds hovered over the ad.<br /><br />Lastly, we show you how much your CPM translates to cost. In the Alpha of Product, everyone has a stable $6.40 CPM to balance the size of our platform and the local community. Special cases include big business or local recurring ads.</small>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div style="position:relative;margin: 0 auto;height: 200px;max-width: 750px;width:100%;display:block;margin-bottom: 100px;">
        <h1 style="position: relative;text-align: left;padding-left: 25px;padding-right: 25px;font-family: 'Philosopher', sans-serif;font-size:32px;color:white;font-weight: 900;padding-top: 100px;">Alpha 0.01 only allows ad accounts verified by our team.</h1>
        <h2 style="position: relative;text-align: left;padding-left:25px;padding-right: 25px;font-family: 'Charter', sans-serif;font-size:22px;color:rgb(191, 191, 191);">Learn how to get a campaign estimate in our <a href="{% url 'blog-docs' %}" style="color:inherit;text-decoration:underline;">Docs</a>.</h2>
        
    </div>
</div>
<div class="pricingappearonmobile" style="padding-left: 10px;padding-right:10px;">
    <div style="position: relative;max-width: 500px;width:100%;background-color: transparent;padding-left: 25px;padding-right:25px;margin: 0 auto;display: block;margin-bottom: 100px;">
        <h1 style="position: relative;font-family: 'Philosopher', sans-serif;font-size:38px;color:white;font-weight: 900;">Set your ideal budget.</h1>
        <h1 style="position: relative;font-family: 'Open Sans', sans-serif;font-size:26px;color:rgb(210, 210, 210);font-weight: 500;line-height:38px;">Select from a precise range of pricing that your marketing team can agree with.</h1>
        <div style="height: 50px;"></div>
        <img src="../media/pricingimg.png" class="imgpricingheader" style="position:relative;margin: 0 auto;width:99%;margin-top: -50px;display: block;margin-bottom: -200px;">
    </div>
    <div class="contain-ads-why" style="box-shadow: 0 0 0 0; background-color:transparent;max-width: 750px;width:100%;">
        <h1 style="position: relative;text-align: left;padding-left: 25px;padding-right: 25px;font-family: 'Philosopher', sans-serif;font-size:32px;color:white;font-weight: 900;padding-top: 100px;">Advertise to a local and diverse audience.</h1>
        <h2 style="position: relative;text-align: left;padding-left:25px;padding-right: 25px;font-family: 'Charter', sans-serif;font-size:22px;color:rgb(191, 191, 191);">Get an assigned category CPM and target ads to people with similar interests. Never feel like your ad is a highway billboard.</h2>
        <br />
        <div class="dashboard-ads float-container" style="height:600px;">
            <div class="float-child">
                <h1 style="position: relative;font-family: 'Charter Bold', sans-serif;font-size:20px;color:white;padding: 10px;">Total clicks</h1>
                <h2 class="result-ad-count">2505</h2>
                        <h2 class="result-ad-count-text" style="white-space: nowrap;">Positive Engagement (4 public ads)</h2>
                <h1 style="position: relative;font-family: 'Charter Bold', sans-serif;font-size:18px;color:rgb(177, 177, 177);padding: 10px;">Total engagement</h1>
                <h2 style="font-family:'Charter Bold',sans-serif;font-size:60px;padding-top:2px;padding-bottom: 2px;color:rgb(227, 227, 227);padding-left:10px;">4142</h2>
                <h1 style="position: relative;font-family: 'Charter Bold', sans-serif;font-size:18px;color:rgb(177, 177, 177);padding: 10px;">Total expenses</h1>
                <h2 style="font-family:'Charter Bold',sans-serif;font-size:60px;padding-top:2px;padding-bottom: 5px;color:rgb(227, 227, 227);padding-left:10px;">$16.04</h2>
                <h2 class="result-ad-count-text"><i class="fas fa-receipt"></i>&nbsp;$6.40 CPM</h2>
            </div>
        </div>
        <div class="float-child" style="width: 100%;">
            <div class="blog-container p-2">
                <small style="font-family: BlinkMacSystemFont, 'Open Sans', sans-serif;font-size:16px;color:white;"><b>On the top is our simplistic advertisement manager.</b> The first area discusses, in total, how many clicks your total ad posts have gotten. We run off of a one-category-per-account threshold, so you shouldn't see variation in cost and billing.<br /><br />
                Next, we show you total engagement, or scroll-by views, sometimes sorted by a threshold of seconds spent looking at the ad, or how many seconds hovered over the ad.<br /><br />Lastly, we show you how much your CPM translates to cost. In the Alpha of Product, everyone has a stable $6.40 CPM to balance the size of our platform and the local community. Special cases include big business or local recurring ads.</small>
            </div>
        </div>
    </div>
    <br />
    <div style="top:25px;position:relative;margin: 0 auto;max-height: 100000px;max-width: 750px;min-height: 0px;width:100%;display:block;">
        <h1 style="position: relative;text-align: left;padding-left: 25px;padding-right: 25px;font-family: 'Philosopher', sans-serif;font-size:32px;color:white;font-weight: 900;padding-top: 100px;">Alpha 0.01 only allows ad accounts verified by our team.</h1>
        <h2 style="position: relative;text-align: left;padding-left:25px;padding-right: 25px;font-family: 'Charter', sans-serif;font-size:22px;color:rgb(191, 191, 191);">Learn how to get a campaign estimate in our <a href="{% url 'blog-docs' %}" style="color:inherit;text-decoration:underline;">Docs</a>.</h2>
    </div>
</div>
{% endblock content %}


