{% extends "blog/base_shadow.html" %}
{% block content %}
<div class="float-container">

    <div class="float-child">
    <div style="margin-top:25%;padding:50px;padding-left:75px;">
        <h1 style="position:relative;font-family:BlinkMacSystemFont, sans-serif;font-size:42px;color:black;font-weight:700;">Observe real professionals.</h1>
        <span style="position: relative;font-family:BlinkMacSystemFont, sans-serif;font-size:28px;color:black;font-weight:600;">Use Product's digital job shadowing platform for your future position.</span>
    </div>
    </div>
    
    <div class="float-child">
        <img src="../media/frontPageshadow.png" class="imgpricingheader" style="width:75%;">
    </div>
    
</div>


{% endblock content %}


